* {
    margin: 0;
    padding: 0;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
    width: 2.5%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color:#0A3871; }
    .text-area:focus {
        outline: none;
    }

.resultado {
    background: white;
    background-image: url(/assets/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color:#0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.resultado:focus {
    outline: none;
}

.btn {
    display: flex;
    margin-top: 18px;
    gap:10px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn2 {
    display: flex;
    margin-top: 45px;
    gap:10px;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 328px;
}

.rodape {
    background-color: #0A3871;
    color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
}